body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.passcode-switch {
  cursor: pointer;
}

.close {
  cursor: pointer;
}

.loading {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 50px;
  }
}

.empty-message {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  width: 100%;
}

.ant-tree-treenode {
  margin-top: 2px !important;
}

.ant-tree-treenode-selected .ant-tree-node-content-wrapper:before {
  background: #6576ff !important;
}

.ant-tree-node-selected .ant-tree-title {
  color: #fff !important;
}

.ant-tree-node-content-wrapper {
  display: flex !important;
  justify-content: space-between;
}

.ant-tree-node-content-wrapper.ant-tree-node-selected .ant-tree-iconEle {
  color: #fff !important;
}

.ant-tree-node-content-wrapper .ant-tree-iconEle {
  color: #8b98af !important;
  transition: all 0.2s, border 0s, line-height 0s, box-shadow 0s;
}
.ant-tree-node-content-wrapper .ant-tree-iconEle .anticon {
  vertical-align: 0 !important;
}
.ant-tree-treenode-selected .ant-tree-switcher .ant-tree-switcher-icon {
  color: #fff !important;
}
.ant-tree-switcher-icon {
  color: #8b98af !important;
  transition: all 0.2s, border 0s, line-height 0s, box-shadow 0s;
}
/*.ant-tree-node-selected:hover .ant-tree-iconEle {*/
/*  color: #fff !important;*/
/*}*/

.ant-tree-title {
  color: #8b98af !important;
  fill: #8b98af !important;
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: anywhere !important;
  hyphens: auto;
  line-height: 1.4;
  display: block !important;
  width: 100% !important;
  align-self: center !important;
  transition: all 0.2s, border 0s, line-height 0s, box-shadow 0s;
}

.cursor-pointer {
  cursor: pointer;
}

.upload-zone {
  position: relative;
  cursor: pointer;
  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}


.dropdown-menu.left {
    left: 0;
    right: unset;
}
